# IDE & Environment
*.iml
.idea
env/
staging_credentials.json

# Python
__pycache__/
*.py[cod]

# Sphinx
docs/build/*

# Mac
*/.DS_Store
.DS_Store

# Project 
data/
entities_map.json
production_credentials.json
properties_map.json
report.json
system_errors.json