geopy==2.0.0
google-api-python-client==2.3.0
google-cloud-pubsub==2.4.1
google-cloud-secret-manager==2.4.0
gtfs-kit==5.0.0
LatLon23==1.0.7
pre-commit==2.12.1
pytest==6.1.1
python-dotenv==0.15.0
reverse-geocoder==1.5.1
SPARQLWrapper==1.8.5
Sphinx==3.2.1
wikibaseintegrator==0.10.0

