name: "Pull Request Docs Check"
on:
  - push
  - pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Generate documentation
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
      - name: Documentation artifact
        uses: actions/upload-artifact@v1
          with:
            path: docs/_build/html/