name: "Sphinx Docs CI"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest wheel numpy
          sudo add-apt-repository ppa:ubuntugis/ppa
          sudo apt-get install gdal-bin python3-gdal
          sudo apt-get install libgdal-dev
          pip install GDAL==$(gdal-config --version) --global-option=build_ext --global-option="-I/usr/include/gdal"
          sudo apt-get install libspatialindex-dev
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Generate documentation
        run: |
          if [ ! -d "docs/build" ]; then mkdir docs/build; fi
          cd docs && make html
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: Mobility-Database-Interface_documentation-v${{ github.run_id }}.${{ github.run_number }}
          path: docs/build/html/